body {
  margin: 0;
  font-family: 'Garamond';
}

.topnav {
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}

.topnav a {
  float: left;
  color: #8d8d8d;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
}

.topnav a:hover {
  color: rgb(0, 0, 0);
}

.topnav a.active {
  color: rgb(0, 0, 0);
}

.topnav-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.topnav-right {
  float: right;
}

#canvas-container {
  width: 100%;
  height: calc(100vh - 53px); /* Subtract the height of the navbar */
}

@media screen and (max-width: 600px) {
  .topnav a, .topnav-right {
      float: none;
      display: block;
  }
  
  .topnav-centered a {
      position: relative;
      top: 0;
      left: 0;
      transform: none;
  }
}

canvas {
  display: block;
}

